DATABASE_PATH=./data/booking.db
ADMIN_USERNAME=replace-with-an-admin-username
ADMIN_PASSWORD=replace-with-a-strong-password
SESSION_SECRET=replace-with-at-least-32-random-characters
APP_TIME_ZONE=UTC
HOST_PORT=3000
INITIAL_HOME_NAME=Home
INITIAL_HOME_LOCATION=Seattle
INITIAL_HOME_RESOURCES="Guest bed | 2 | normal; Sofa | 1 | sofa; Air mattress | 1 | hidden"
